html{
	overflow: auto;
	overflow-x: hidden;
}
body{
	width: 100%;
	float: left;
	background: #F8F8F8;
    overflow: auto;
    overflow-x: hidden;
    &.grey__background{
        background: #F8F8F8;
    }
    &.white__background{
        background: #fff;
    }
}
.container{
	max-width: 1428px;
}
main{
    width: 100%;
    min-height: 90vh;
    padding-top: 90px;
    float: left;
}
section{
    width: 100%;
    float: left;
}
.popup__wrapper{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(255,255,255,0.9);
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.3s ease;
            transition: all 0.3s ease;
    &.show{
        opacity: 1;
        visibility: visible;
    }
}
.popup{
    position: fixed;
    top: 350px;
    left: 50%;
    width: 100%;
    max-width: 560px;
    background: #FFFFFF;
    padding: 27px 30px 20px;
    margin-left: -280px;
    box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.07);
    opacity: 0;
    visibility: hidden;
    z-index: 1001;
    -webkit-transition: all 0.3s ease;
            transition: all 0.3s ease;
    &.show{
        top: 150px;
        opacity: 1;
        visibility: visible;
    }
    &.small{
        max-width: 360px;
        margin-left: -180px;
    }
    .close{
        width: 20px;
        height: 20px;
        display: block;
        position: absolute;
        cursor: pointer;
        top: 23px;
        right: 23px;
        -webkit-transition: all 0.3s ease;
                transition: all 0.3s ease;
        background-size: 16px 16px;
        background-position: center;
        background-repeat: no-repeat;
        background-image: url('../images/icon-close.svg');
        opacity: 1;
        &:hover{
            opacity: 0.5!important;
        }
    }
    .form{
        h3{
            margin-bottom: 1px;
            font-weight: 500;
        }
        p{
            font-weight: 300;
            font-size: 16px;
            line-height: 24px;
            color: #585B5A;
        }
        input[type="submit"]{
            width: 100%;
            &:focus{
                box-shadow: none;
                outline: none;
            }
        }
        .ajax-loader{
            position: absolute;
            right: 10px;
            top: 8px;
        }
    }
}
.field__group{
    width: 100%;
    float: left;
    margin-bottom: 20px;
    position: relative;
    &.half{
        width: 50%;
        &.right{
            padding-right: 15px;
        }
        &.left{
            padding-left: 15px;
            .wpcf7-not-valid-tip{
                padding-left: 15px;
            }
        }
    }
    .wpcf7-not-valid-tip{
        width: 100%;
        float: left;
        position: absolute;
        font-size: 10px;
        left: 0;
        bottom: -15px;
    }
    .wpcf7-form-control-wrap{
        position: static;
    }
}
.form__field{
    width: 100%;
    height: 40px;
    float: left;
    border: 1px solid rgba(18,42,31,0.1);
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    color: #122A1F;
    padding: 0 15px;
    &:focus{
        outline: none;
    }
}
textarea.form__field{
    height: 100px;
    resize: none;
    padding: 8px 15px;
}
div.wpcf7-response-output{
    width: 100%;
    float: left;
    border-width: 1px;
    margin: 5px 0 0 0;
    padding: 10px 15px;
    text-align: center;
    font-size: 14px;
}
.page__title{
    width: 100%;
    float: left;
    padding: 108px 0 0;
    margin-bottom: 48px;
    p{
        margin-bottom: 0;
    }
}
.contact__section{
    .content{
        width: 100%;
        float: left;
        padding: 108px 30px 0 0;
        position: absolute;
        z-index: 1;
    }
    .contact__block{
        width: 100%;
        float: left;
        margin-bottom: 33px;
        a{
            width: 100%;
            float: left;
            display: block;
            padding-left: 35px;
            position: relative;
            margin-bottom: 23px;
            &::before{
                content: '';
                position: absolute;
                left: 0;
                display: block;
                background-position: center;
                background-repeat: no-repeat;
            }
            &.address::before{
                width: 17px;
                height: 24px;
                background-image: url('../images/icon-marker.svg');
                top: 0;
            }
            &.email::before{
                width: 20px;
                height: 14px;
                background-image: url('../images/icon-email.svg');
                top: 5px;
            }
            &.phone::before{
                width: 18px;
                height: 18px;
                background-image: url('../images/icon-phone.svg');
                top: 3px;
            }
        }
    }
}
.map{
    width: 100%;
    height: 775px;
    float: left;
}
.dataTables_wrapper{
    overflow: auto;
}
.tablepress{
    thead th{
        background-color: #fff!important;
        font-weight: 500!important;
        text-align: center;
        padding: 14px 15px;
        border: 1px solid #E5E5E5;
        font-size: 14px;
        line-height: 22px;
        color: #122A1F;
        &:first-child{
            text-align: left;
        }
    }
    tr{
        td{
            padding: 14px 15px!important;
            border: 1px solid #E5E5E5!important;
            text-align: center;
            font-size: 14px;
            line-height: 22px;
            color: #122A1F;
            &:first-child{
                text-align: left;
                font-weight: 500!important;
            }
        }
    }
    .odd td{
        background-color: #fff!important;
    }
}
@keyframes pulse {
    0% {
        -webkit-transform:rotate(0) scale(.4) skew(1deg);
        -webkit-opacity:.1
    }

    50% {
        -webkit-transform:rotate(0) scale(.7) skew(1deg);
        -webkit-opacity:.5
    }

    100% {
        -webkit-transform:rotate(0) scale(1) skew(1deg);
        -webkit-opacity:.1
    }
}
@-webkit-keyframes pulse {
    0% {
        -webkit-transform:rotate(0) scale(.4) skew(1deg);
        -webkit-opacity:.1
    }

    50% {
        -webkit-transform:rotate(0) scale(.7) skew(1deg);
        -webkit-opacity:.5
    }

    100% {
        -webkit-transform:rotate(0) scale(1) skew(1deg);
        -webkit-opacity:.1
    }
}
@keyframes quick-alo-circle-img-anim {
    0% {
        -webkit-transform: rotate(0) scale(1) skew(1deg)
    }
    10% {
        -webkit-transform: rotate(-25deg) scale(1) skew(1deg)
    }
    20% {
        -webkit-transform: rotate(25deg) scale(1) skew(1deg)
    }
    30% {
        -webkit-transform: rotate(-25deg) scale(1) skew(1deg)
    }
    40% {
        -webkit-transform: rotate(25deg) scale(1) skew(1deg)
    }
    50% {
        -webkit-transform: rotate(0) scale(1) skew(1deg)
    }
    100% {
        -webkit-transform: rotate(0) scale(1) skew(1deg)
    }
}
@-webkit-keyframes quick-alo-circle-img-anim {
    0% {
        -webkit-transform: rotate(0) scale(1) skew(1deg)
    }
    10% {
        -webkit-transform: rotate(-25deg) scale(1) skew(1deg)
    }
    20% {
        -webkit-transform: rotate(25deg) scale(1) skew(1deg)
    }
    30% {
        -webkit-transform: rotate(-25deg) scale(1) skew(1deg)
    }
    40% {
        -webkit-transform: rotate(25deg) scale(1) skew(1deg)
    }
    50% {
        -webkit-transform: rotate(0) scale(1) skew(1deg)
    }
    100% {
        -webkit-transform: rotate(0) scale(1) skew(1deg)
    }
}
@include media-breakpoint-down(md){
    .page__title{
        padding: 45px 0 0;
    }
    .contact__section .content{
        padding: 45px 0px 0 0;
        position: relative;
        margin-bottom: 50px;
    }
    .map{
        height: 500px;
        margin-bottom: 15px;
    }
}
@include media-breakpoint-down(xs){
    .popup{
        max-width: 300px;
        margin-left: -150px;
        .form{
            max-height: 350px;
            overflow: auto;
        }
        &.show{
            top: 60px;
        }
        &.small{
            max-width: 300px;
            margin-left: -150px;
        }
    }
    .field__group{
        &.half{
            width: 100%;
            &.right{
                padding-right: 0;
            }
            &.left{
                padding-left: 0;
                .wpcf7-not-valid-tip{
                    padding-left: 0;
                }
            }
        }
    }
}
