@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,400,500&display=swap&subset=cyrillic-ext');
body{
	font-family: 'Ubuntu';
	color: #122A1F;
}
h1{
	font-size: 28px;
	font-weight: 400;
	line-height: 32px;
	margin-bottom: 15px;
}
h2{
	font-size: 24px;
	font-weight: 400;
	line-height: 36px;
	margin-bottom: 11px;
}
h3{
	font-size: 18px;
	font-weight: 400;
	line-height: 32px;
}
h4{
	font-size: 14px;
	line-height: 16px;
}
h5{
	font-size: 12px;
	line-height: 14px;
}
h5{
	font-size: 10px;
	line-height: 12px;
}
p{
	font-weight: 300;
	font-size: 16px;
	line-height: 24px;
	margin-bottom: 20px;
	color: #122A1F;
}
a{
	color: #122A1F;
	-webkit-transition: all 0.3s ease;
			transition: all 0.3s ease;
	&:hover{
		color: #85BC10;
		text-decoration: none;
	}
}
.btn{
	display: inline-block;
	padding: 9px 18px;
	text-transform: uppercase;
	color: #122A1F;
	position: relative;
	font-size: 12px;
	line-height: 14px;
	border-radius: 0;
	-webkit-transition: all 0.3s ease;
		transition: all 0.3s ease;
	&.btn__border{
		&::before{
			content: '';
			width: 100%;
			height: 100%;
			display: block;
			position: absolute;
			top: -2px;
			left: -2px;
			border: 1px solid #85BC10;
			z-index: -1;
			-webkit-transition: all 0.3s ease;
					transition: all 0.3s ease;
		}
		&::after{
			content: '';
			width: 100%;
			height: 100%;
			display: block;
			position: absolute;
			bottom: -2px;
			right: -2px;
			border: 1px solid #85BC10;
			z-index: -1;
			-webkit-transition: all 0.3s ease;
					transition: all 0.3s ease;
		}
		&:hover{
			color: #fff;
			&::before{
				top: 0;
				left: 0;
				background-color: #85BC10;
			}
			&::after{
				bottom: 0;
				right: 0;
				background-color: #85BC10;
			}
		}
	}
	&.btn__green{
		background-color: #85BC10;
		color: #fff;
		&:hover{
			opacity: 0.8;
		}
	}
	&.full{
		width: 100%;
	}
}