.categories__section{
	padding: 85px 0 40px;
	.category{
		width: 100%;
		height: 460px;
		float: left;
		padding: 0 70px;
		background-color: #FFFFFF;
		border: 1px solid rgba(18,42,31,0.1);
		margin-top: 40px;
		overflow: hidden;
		-webkit-transition: all 0.3s ease;
				transition: all 0.3s ease;
		.thumbnail{
			width: 310px;
			height: 310px;
			margin: 40px 0 0;
			float: left;
			position: absolute;
			left: 50%;
			z-index: -1;
			-webkit-transform: translateX(-50%);
            		transform: translateX(-50%);
			img{
				position: absolute;
				top: 50%;
				left: 50%;
				-webkit-transform: translate(-50%, -50%);
                		transform: translate(-50%, -50%);
			}
			.triangle{
				position: absolute;
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
				z-index: -1;
				-webkit-transition: all 0.5s ease;
						transition: all 0.5s ease;
			}
			.image{
				position: absolute;
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
				z-index: 2;
			}
		}
		.title{
			width: 100%;
			float: left;
			border-top: 2px solid;
			border-bottom: 2px solid;
			margin-top: 360px;
			h3{
				margin-bottom: 0;
				line-height: 21px;
				padding: 13px 0 16px;
				font-weight: 400;
				color: #122A1F;
			}
		}
		&:hover{
			box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.07);
			color: #122A1F;
			.triangle{
				-webkit-transform: rotate(30deg);
                		transform: rotate(30deg);
			}
		}
	}
}
@include media-breakpoint-down(lg){
	.categories__section .category {
		.title h3{
			font-size: 14px;
			padding: 10px 0 13px;
		}
	}
}
@include media-breakpoint-down(md){
	.categories__section{
		padding: 45px 0 40px;
	}
}