.clients__section{
	min-height: 150px;
	background-color: #fff;
	padding: 25px 0;
	border-bottom: 1px solid rgba(18,42,31,0.1);
	.client{
		width: 100%;
		float: left;
		position: relative;
		min-height: 100px;
		img{
			position: absolute;
			top: 50%;
			left: 50%;
			-webkit-transform: translate(-50%, -50%);
            		transform: translate(-50%, -50%);
		}
	}
	.slick-slide,
	.slick-slide:focus{
		outline: none;
	}
}