.call__btn{
	width: 80px;
	height: 80px;
	position: fixed;
	background-color: #85BC10;
	border-radius: 50%;
	right: 30px;
	bottom: 150px;
	cursor: pointer;
	animation: pulse 2s infinite;
	.text{
		color: #fff;
		width: 100%;
		display: block;
		font-size: 11px;
		text-transform: uppercase;
		position: absolute;
		left: 0;
		top: 50%;
		text-align: center;
		-webkit-transform: translateY(-50%);
        		transform: translateY(-50%);
	}
}
@-webkit-keyframes pulse {
	0% {
		-webkit-box-shadow: 0 0 0 0 rgba(133,188,16, 0.4);
	}
	70% {
		-webkit-box-shadow: 0 0 0 15px rgba(133,188,16, 0);
	}
	100% {
		-webkit-box-shadow: 0 0 0 0 rgba(133,188,16, 0);
	}
}
@keyframes pulse {
	0% {
		-moz-box-shadow: 0 0 0 0 rgba(133,188,16, 0.4);
			 box-shadow: 0 0 0 0 rgba(133,188,16, 0.4);
	}
	70% {
		-moz-box-shadow: 0 0 0 15px rgba(133,188,16, 0);
			 box-shadow: 0 0 0 15px rgba(133,188,16, 0);
	}
	100% {
		-moz-box-shadow: 0 0 0 0 rgba(133,188,16, 0);
			 box-shadow: 0 0 0 0 rgba(133,188,16, 0);
	}
}
footer{
	width: 100%;
	float: left;
	background-color: #122A1F;
	padding: 30px 15px 15px;
	min-height: 100px;
	.menu__block{
		width: 100%;
		float: left;
		margin: 3px 0;
	}
	.logo{
		width: 100%;
	}
	.copyright{
		width: 100%;
		float: left;
		font-weight: 300;
		font-size: 12px;
		line-height: 21px;
		margin-top: 20px;
		color: rgba(255,255,255,0.8);
	}
}
.footer__nav{
	width: 100%;
	float: left;
	ul{
		width: 100%;
		float: left;
		padding: 0;
		margin: 0;
		list-style: none;
		li{
			display: inline-block;
			a{
				display: block;
				font-size: 16px;
				line-height: 18px;
				color: #fff;
				position: relative;
				padding: 5px 25px;
				&::before{
					content: '';
					width: 2px;
					height: 20px;
					display: block;
					position: absolute;
					background-color: #85BC10;
					left: 0;
					opacity: 0;
					visibility: hidden;
					-webkit-transition: all 0.3s ease;
            				transition: all 0.3s ease;
				}
				&:hover{
					text-decoration: none;
					color: #fff;
					&::before{
						left: 18px;
						opacity: 1;
						visibility: visible;
					}
				}
			}
		}
	}
}
.social__block{
	margin: 7px 0 0;
	ul{
		width: 100%;
		float: left;
		padding: 0;
		margin: 0;
		line-height: 0;
		list-style: none;
		text-align: right;
		li{
			display: inline-block;
			margin-left: 9px;
			a{
				display: block;
				width: 26px;
				height: 26px;
				background: #85BC10;
				border-radius: 4px;
				background-position: center;
				background-repeat: no-repeat;
				&:hover{
					border-radius: 50%;
				}
				&.fb{
					background-image: url('../images/icon-facebook.svg');
				}
				&.in{
					background-image: url('../images/icon-instagram.svg');
				}
			}
		}
	}
	.prod{
		display: block;
		float: right;
		font-weight: 300;
		font-size: 12px;
		line-height: 21px;
		margin-top: 27px;
		color: rgba(255,255,255,0.8);
		position: relative;
		-webkit-transition: all 0.3s ease;
				transition: all 0.3s ease;
		&::before{
			content: '';
			width: 100%;
			height: 1px;
			display: block;
			background-color: #fff;
			position: absolute;
			left: -100%;
			bottom: -2px;
			opacity: 0;
			visibility: hidden;
			-webkit-transition: all 0.3s ease;
    				transition: all 0.3s ease;
		}
		&:hover{
			color: #fff;
			&::before{
				left: 0;
				opacity: 1;
				visibility: visible;
			}
		}
	}
}
@include media-breakpoint-down(md){
	footer{
		.logo{
			width: 100%;
			text-align: center;
			// margin-bottom: 20px;
		}
		.copyright{
			text-align: center;
			margin-bottom: 20px;
		}
		.menu__block{
			margin: 10px 0 20px;
		}
		.social__block{
			width: 100%;
			ul{
				width: 100%;
				float: left;
				text-align: center;
				line-height: 0;
				li{
					display: inline-block;
					float: none;
					margin: 0 5px;
				}
			}
			.prod{
				text-align: center!important;
			}
		}
	}
	.call__btn{
		width: 65px;
		height: 65px;
		right: 20px;
		bottom: 40px;
		.text{
			font-size: 9px;
		}
	}
}
@include media-breakpoint-down(xs){
	.footer__nav ul li{
		width: 100%;
		float: left;
		padding: 5px 0;
		display: block;
	}
}