.gallery__section{
	.image{
		width: 100%;
		height: 270px;
		display: block;
		float: left;
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
		margin-bottom: 30px;
		position: relative;
		border: 3px solid #F8F8F8;
		-webkit-transition: all 0.3s ease;
                transition: all 0.3s ease;
		&::before{
			content: '';
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			background-color: rgba(0,0,0,0.2);
			z-index: 1;
			opacity: 0;
			visibility: hidden;
			-webkit-transition: all 0.3s ease;
                	transition: all 0.3s ease;
		}
		// &:hover{
		// 	border-color: #85BC10;
		// 	&::before{
		// 		opacity: 1;
		// 		visibility: visible;
		// 	}
		// }
	}
}