body.admin-bar{
	header,
	.menu__line{
		top: 32px;
	}
}
header{
	width: 100%;
	height: 90px;
	float: left;
	background: #FFFFFF;
	padding: 15px 0 14px;
	border-bottom: 1px solid rgba(18,42,31,0.1);
	position: fixed;
	z-index: 100;
}
.main__nav{
	float: left;
	padding: 16px 0;
	ul{
		float: left;
		list-style: none;
		padding: 0;
		margin: 0;
		li{
			float: left;
			&.current-menu-item{
				a{
					text-decoration: none;
					color: #122A1F;
					&::before{
						left: 10px;
						opacity: 1;
						visibility: visible;
					}
				}
			}
			a{
				display: block;
				font-size: 16px;
				line-height: 18px;
				color: #585B5A;
				position: relative;
				padding: 5px 19px;
				&::before{
					content: '';
					width: 2px;
					height: 20px;
					display: block;
					position: absolute;
					background-color: #85BC10;
					left: 0;
					opacity: 0;
					visibility: hidden;
					-webkit-transition: all 0.3s ease;
            				transition: all 0.3s ease;
				}
				&:hover{
					text-decoration: none;
					color: #122A1F;
					&::before{
						left: 10px;
						opacity: 1;
						visibility: visible;
					}
				}
			}
		}
	}
}
.nav__bar{
	.phone__block{
		display: block;
		margin: 4px 0 0 59px;
		a{
			font-size: 14px;
			line-height: 22px;
			display: block;
			clear: both;
			position: relative;
			padding: 0 0 0 28px;
			&:first-child::before{
				content: '';
				width: 20px;
				height: 20px;
				display: block;
				position: absolute;
				left: 0;
				top: 3px;
				background-image: url('../images/icon-viber.svg');
				background-position: center;
				background-size: cover;
			}
			&:hover{
				color: #85BC10;
			}
		}
	}
	.phone{
		
		
		// &::after{
		//     content: '';
		//     width: 44px;
		//     height: 44px;
		//     border-radius: 50%;
		//     display: block;
		//     border: 1px solid rgba(133,188,16,.6);
		//     position: absolute;
		//     top: -9.5px;
		//     left: -15.5px;
		//     background-color: transparent;
		//     animation: pulse 1.2s infinite ease-in-out;
		// }
		
	}
	button{
		margin: 12px 0 12px 30px;
		float: left;
	}
	.language__switcher{
		width: 62px;
		float: left;
		position: relative;
		font-size: 12px;
		line-height: 14px;
		text-transform: uppercase;
		color: #122A1F;
		cursor: pointer;
		margin: 15px 0 0 3px;
		&:hover{
			ul{
				top: 100%;
				opacity: 1;
				visibility: visible;
			}
			&::after{
				-webkit-transform: rotate(180deg);
                		transform: rotate(180deg);
			}
		}
		&::after{
			content: '';
			width: 8px;
			height: 5px;
			display: block;
			position: absolute;
			top: 12px;
			right: 0;
			background-image: url('../images/icon-switcher.svg');
			-webkit-transition: all 0.3s ease;
					transition: all 0.3s ease;
		}
		.current{
			width: 100%;
			text-align: right;
			padding: 7px 13px 7px 0;
		}
		ul{
			position: absolute;
			top: 120%;
			right: 0;
			opacity: 0;
			visibility: hidden;
			background: #FFFFFF;
			box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.07);
			list-style: none;
			padding: 0;
			margin: 0;
			-webkit-transition: all 0.3s ease;
					transition: all 0.3s ease;
			li{
				width: 100%;
				float: left;
				a{
					text-align: center;
					display: block;
					width: 62px;
					padding: 10px 0;
					&:hover{
						background-color: #85BC10;
						color: #fff;
					}
				}
			}
		}
	}
}
.mobile__btn{
	width: 35px;
	height: 30px;
	display: block;
	position: relative;
	margin: 5px 0 0;
	cursor: pointer;
	display: none;
	span{
		position: absolute;
		width: 100%;
		height: 4px;
		display: block;
		left: 0;
		background-color: #122A1F;
		-webkit-transition: all 0.3s ease;
				transition: all 0.3s ease;
		&:nth-child(1){
            top: 0px;
        }
        &:nth-child(2){
            top: 12px;
        }
        &:nth-child(3){
            top: 24px;
        }

	}
	&.show{
		span{
			&:nth-child(1){
                top: 12px;
                -webkit-transform: rotate(135deg);
                		transform: rotate(135deg);
            }
            &:nth-child(2){
                opacity: 0;
                left: -30px;
            }
            &:nth-child(3){
                top: 12px;
                -webkit-transform: rotate(-135deg);
                		transform: rotate(-135deg);
            }
		}
	}
}
.mobile__menu{
	opacity: 0;
	visibility: hidden;
	position: fixed;
	top: -100px;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: #fff;
	z-index: 101;
	-webkit-transition: all 0.3s ease;
			transition: all 0.3s ease;
	&.show{
		top: 70px;
		opacity: 1;
		visibility: visible;
	}
	.menu__block{
		width: 100%;
		float: left;
		margin-top: 50px;
		.main__nav{
			width: 100%;
			float: left;
			ul{
				width: 100%;
				float: left;
				li{
					width: 100%;
					float: left;
					padding: 0 10px;
					margin-bottom: 10px;
					a{
					    padding: 7px 25px;
    					font-size: 18px;
					}
				}
			}
		}
	}
	.phone__block{
		width: 100%;
		display: block;
		margin: 4px 0 0 0;
		padding: 0 35px;
		a{
			font-size: 18px;
			line-height: 22px;
			display: block;
			clear: both;
			position: relative;
			padding: 0 0 0 35px;
			margin-bottom: 5px;
			color: #585B5A;
			&:first-child::before{
				content: '';
				width: 24px;
				height: 24px;
				display: block;
				position: absolute;
				left: 0;
				top: 1px;
				background-image: url('../images/icon-viber.svg');
				background-position: center;
				background-size: cover;
			}
			&:hover{
				color: #85BC10;
			}
		}
	}
	.button__wrapper{
		width: 100%;
		float: left;
		margin-top: 35px;
		padding: 0 35px;
	}
	.language__switcher{
		width: 100%;
		float: left;
		padding: 10px 35px;
		font-size: 18px;
		margin-top: 25px;
		.current{
			float: left;
			color: #85BC10;
		}
		ul{
			padding: 0;
			margin: 0;
			list-style: none;
			float: left;
			li{
				float: left;
				a{
					padding: 0 10px;
				}
			}
		}
	}
}
@include media-breakpoint-down(lg){
	.main__nav ul li {
		a{
			padding: 5px 10px;
			font-size: 14px;
		}
		&.current-menu-item a::before{
			left: 5px;
		}
	}
	.nav__bar {
		button{
		    margin: 12px 0 12px 20px;
		}
		.phone{
			margin: 17px 0 0 15px;
		}
	}
}
@include media-breakpoint-down(md){
	header{
		height: 70px;
		.logo{
			img{
				height: 40px;
			} 
		}
		.nav__bar{
			display: none;
		}
	}
	.mobile__btn{
		display: block;
	}
	.mobile__menu{
		display: block;
	}
}