.products__section{
	padding: 108px 0 120px;
	.title{
		width: 100%;
		float: left;
	}
	.tags{
		ul{
			width: 100%;
			float: left;
			padding: 0;
			margin: 0;
			list-style: none;
			li{
				float: left;
				font-size: 14px;
				line-height: 16px;
				text-align: center;
				text-transform: uppercase;
				margin: 0 15px;
				padding: 0 10px;
				color: #585B5A;
				cursor: pointer;
				position: relative;
				-webkit-transition: all 0.3s ease;
						transition: all 0.3s ease;
				&::before{
					content: '';
					width: 2px;
					height: 100%;
					position: absolute;
					left: 0;
					top: 0;
					background-color: #85BC10;
					display: block;
					opacity: 0;
					-webkit-transition: all 0.3s ease;
							transition: all 0.3s ease;
				}
				&::after{
					content: '';
					width: 2px;
					height: 100%;
					position: absolute;
					right: 0;
					top: 0;
					background-color: #85BC10;
					display: block;
					opacity: 0;
					-webkit-transition: all 0.3s ease;
							transition: all 0.3s ease;
				}
				&.active,
				&:hover{
					color: #122A1F;
					&::before{
						opacity: 1;
					}
					&::after{
						opacity: 1;
					}
				}
			}
		}
	}
}
.product{
	width: 100%;
	height: 450px;
	float: left;
	background-color: #fff;
	margin-top: 30px;
	position: relative;
	overflow: hidden;
	border: 1px solid rgba(18,42,31,0.1);
	-webkit-transition: all 0.5s ease;
			transition: all 0.5s ease;
	.thumbnail{
		width: 100%;
		height: 350px;
		float: left;
		border-bottom: 1px solid rgba(18,42,31,0.1);
		position: relative;
		overflow: hidden;
		-webkit-transition: all 0.5s ease;
				transition: all 0.5s ease;
		img{
			max-width: 300px;
			height: auto;
			position: absolute;
			top: 50%;
			left: 50%;
			-webkit-transition: all 0.5s ease;
					transition: all 0.5s ease;
			-webkit-transform: translate(-50%, -50%);
            		transform: translate(-50%, -50%);
		}
		// .wrapper{
		// 	position: relative;
		// 	top: 0;
		// 	left: 0;
		// 	width: 100%;
		// 	height: 100%;
		// 	background-color: rgba(255,255,255,0.85);
		// 	padding: 0 50px;
		// 	opacity: 0;
		// 	visibility: hidden;
		// 	-webkit-transition: all 0.5s ease;
		// 			transition: all 0.5s ease;
			
		// }
	}
	button{
		width: 100%;
		// max-width: 225px;
		position: absolute;
		top: 350px;
		left: 50%;
		z-index: 10;
		opacity: 0;
		visibility: hidden;
		-webkit-transition: all 0.5s ease;
				transition: all 0.5s ease;
		-webkit-transform: translate(-50%, -50%);
        		transform: translate(-50%, -50%);
	}
	.text{
		width: 100%;
		float: left;
		padding: 25px 25px 12px 20px;
		h3{
			margin-bottom: 0;
		}
		p{
			-webkit-transition: all 0.5s ease;
					transition: all 0.5s ease;
			opacity: 0;
			visibility: hidden;
		}
	}
	&:hover{
		box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.07);
		button{
			opacity: 1;
			visibility: visible;
			top: 320px;
		}
		.thumbnail{
			height: 319px;
			img{
				max-width: 220px;
			}
			.wrapper{
				opacity: 1;
				visibility: visible;
				button{
					top: 50%;
				}
			}
		}
		p{
			opacity: 1;
			visibility: visible;
		}
	}
}
.term__description{
	width: 100%;
	float: left;
	margin-top: 50px;
}
@include media-breakpoint-down(md){
	.products__section {
		padding: 45px 0 0;
		.tags{
			margin: 50px 0 0;
			ul{
				li{
					margin: 0 5px;
				}
			}
			&.float-right{
				float: left!important;
			}
		}
	}
}