.services__section{
	padding: 0 0 90px;
	.service{
		width: 100%;
		min-height: 450px;
		float: left;
		background: #FFFFFF;
		position: relative;
		padding: 30px 20px;
		border: 1px solid rgba(18,42,31,0.1);
		margin-bottom: 30px;
		overflow: hidden;
		.image{
			width: 100%;
			height: 150px;
			position: relative;
			border-bottom: 1px solid rgba(18,42,31,0.1);
			-webkit-transition: all 0.3s ease;
        			transition: all 0.3s ease;
			.icon{
				width: 80px;
				height: 80px;
				position: absolute;
				top: 0;
				left: 0;
				border: 1px solid #85BC10;
				border-radius: 50%;
				background-size: cover;
				background-position: center;
				-webkit-transition: all 0.3s ease;
            			transition: all 0.3s ease;
			}
			h3{
				position: absolute;
				top: 107px;
				left: 0;
				-webkit-transition: all 0.3s ease;
                		transition: all 0.3s ease;
			}
		}
		.text{
			width: 100%;
			float: left;
			padding: 21px 20px 0;
			position: absolute;
			top: 181px;
			left: 0;
			overflow: hidden;
			text-overflow: ellipsis;
			-webkit-transition: all 0.3s ease;
    				transition: all 0.3s ease;
			p{
				color: #585B5A;
				margin-bottom: 0;
			}
			&.full__text{
				opacity: 0;
				visibility: hidden;
			}
		}
		.show__more{
			position: absolute;
			bottom: 20px;
			left: 20px;
			font-size: 14px;
			line-height: 16px;
			text-transform: uppercase;
			color: #122A1F;
			padding-left: 0;
			cursor: pointer;
			-webkit-transition: all 0.3s ease;
            		transition: all 0.3s ease;
			&::before{
				content: '';
				width: 2px;
				height: 14px;
				display: block;
				position: absolute;
				left: 0;
				top: 1px;
				background-color: #85BC10;
				opacity: 0;
				visibility: hidden;
				-webkit-transition: all 0.3s ease;
            			transition: all 0.3s ease;
			}
			&:hover{
				padding-left: 10px;
				&::before{
					opacity: 1;
					visibility: visible;
				}
			}
		}
		.show__less{
			position: absolute;
			bottom: 20px;
			left: 20px;
			font-size: 14px;
			line-height: 16px;
			text-transform: uppercase;
			color: #122A1F;
			padding-left: 0;
			cursor: pointer;
			opacity: 0;
			visibility: hidden;
			-webkit-transition: all 0.3s ease;
            		transition: all 0.3s ease;
			&::before{
				content: '';
				width: 2px;
				height: 14px;
				display: block;
				position: absolute;
				left: 0;
				top: 1px;
				background-color: #85BC10;
				opacity: 0;
				visibility: hidden;
				-webkit-transition: all 0.3s ease;
            			transition: all 0.3s ease;
			}
			&:hover{
				padding-left: 10px;
				&::before{
					opacity: 1;
					visibility: visible;
				}
			}
		}
		&.show{
			.image {
				height: 80px;
				.icon{
					width: 50px;
					height: 50px;
				}
				h3{
					top: 10px;
					left: 70px;
				}
			}
			.text{
				top: 110px;
				&.short__text{
					opacity: 0;
					visibility: hidden;
				}
				&.full__text{
					opacity: 1;
					visibility: visible;
				}
			}
			.show__more{
				opacity: 0;
				visibility: hidden;
			}
			.show__less{
				opacity: 1;
				visibility: visible;
			}
		}
	}
}
@include media-breakpoint-down(sm){
	.services__section .service{
		min-height: 500px;
	}
}