.testimonials__section{
	padding: 102px 0 120px;
}
.feedback__slider{
	.content{
		width: 100%;
		float: left;
		padding: 0 20px;
		p{
			font-weight: 300;
			font-size: 20px;
			line-height: 36px;
			margin-bottom: 37px;
			color: #585B5A;
		}
		.author{
			width: 100%;
			float: left;
			position: relative;
			&::before{
				content: '';
				width: 80px;
				height: 2px;
				display: block;
				background-color: #85BC10;
				position: absolute;
				left: 50%;
				top: -18px;
				margin-left: -40px;
			}
			h3{
				font-size: 18px;
				line-height: 32px;
				text-align: center;
				color: #122A1F;
				margin-bottom: 1px;
			}
			span.position{
				font-weight: 300;
				font-size: 16px;
				line-height: 24px;
				text-align: center;
				color: #585B5A;
			}
		}
	}
	.slick-dots{
		margin: 32px 0 0;
		padding: 0;
		line-height: 0;
		list-style: none;
		text-align: center;
		li{
			display: inline-block;
			margin: 0 2.5px;
			&.slick-active{
				button{
					border: 2px solid #AEDD4A;
				}
			}
			button{
				width: 8px;
				height: 8px;
				padding: 0;
				display: block;
				cursor: pointer;
				font-size: 0;
				line-height: 0;
				color: transparent;
				border: 2px solid rgba(18,42,31,0.1);
				background-color: transparent;
			}
		}
	}
}
.slide{
	outline: none;
}